/* HTML RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

p {
    color: white;
}
body {
    height: 100vh;
    background-color: #404040;
}
.header {
    display: inline-flex;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
    border-bottom: solid 1px #262626;
}
.logo, .search, .login {
    width: 30%;
    margin: auto;
    display: flex;
}
.loginButton {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: block;
    text-decoration-line: none;
    color: white;
    background-color: #666666;
    padding: 8px;
}
.loginButton:hover {
    background-color: #808080;
}
.logotext {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: block;
    text-decoration-line: none;
    color: white;
}
.search form {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}