.navbar {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 2px -2px #333333;
    margin-bottom: 4%;
}
.newButtonCon, .trendingButtonCon, .topButtonCon {
    width: 33.33%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.newButtonCon:hover, .trendingButtonCon:hover, .topButtonCon:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.082);
}
.newButton, .trendingButton, .topButton {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    color: #e6e6e6;
    font-size: 20px;
    text-decoration-line: none;
}