/*Post container*/
.postCon {
    border: solid 10px #262626;
    margin-bottom: 20px;
}
.wrapper {
    width: 60%;
    margin: auto;
}

/*Title container*/
.titleCon {
    padding: 5px;
    background-color: #262626;
}
.titleText {
    font-size: 30px;
    text-decoration-line: none;
    color: white;
}
.opCon {
    display: flex;
}
.timePosted {
    margin-left: 5px;
}
.opText a {
    text-decoration-line: none;
}
.opText, .timePosted, .opText a {
    font-size: 12px;
    color: #666666;
}

/*Image container*/
.imgCon {
    background-color: #333333;
}
.postImage {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    min-width: 60%;
}

/*Description container*/
.descriptionCon {
    padding: 8px;
    border-top: solid 10px #262626;
}
.description {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Toolbar container*/
.toolbarCon {
    background-color: #262626;
    display: inline-flex;
    width: 100%;
    padding-top: 5px;
}
.voteCon, .commentButtonCon, .shareButtonCon {
    width: 30%;
    margin: auto;
}
.voteCon2 {
    display: flex;
    width: 80%;
    margin: auto;
}
.upvote, .totalVotes, .downvote {
    display: block;
    margin: auto;
}
.totalVotes {
    font-size: 25px;
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 8px;
}
.upvote, .downvote {
    font-size: 40px;
    color: #a6a6a6;
}
.upvote:hover, .downvote:hover, .shareButton:hover, .commentButton:hover {
    cursor: pointer
}
.shareButton, .commentButton {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration-line: none;
    margin: auto;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #e6e6e6;
}

/*Comments container*/
.commentsCon {
    background-color: #333333;
    border: solid 10px #262626;
}
.comment {
    border-top: solid 2px #404040;
    padding: 5px;
}
.commentHead {
    display: flex;
    margin-bottom: 8px;
}
.commentHeadText {
    text-decoration-line: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.commentTimePosted {
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
    margin-left: 5px;
}
.commentBody {
    margin-bottom: 8px;
}
.commentText {
    font-family: 'Roboto', sans-serif;
}
.commentFoot {
    display: flex;
}
.commentVotes {
    display: flex;
    /*width: 30%;
    margin: auto;*/
}
.commentUpvote, .commentTotalVotes, .commentDownvote {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}
.commentUpvote, .commentDownvote {
    color: #a6a6a6;
}
.commentUpvote:hover, .commentDownvote:hover {
 cursor: pointer;
} 
.commentTotalVotes {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}